.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.oai-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.sign-in .logo {
  display: flex;
  height: 64px;
  width: 64px;
  background-color: #fff;
  padding: 64px 0 0;
  fill: #202123;
}

.main-container {
  width: 370px;
  margin: auto;
}

.sign-in.title {
  font-size: 32px;
  font: "Söhne";
  margin: 24px 0 0;
  color: #2d333a;
  width: 320px;
  text-align: center;
}

.login-container {
  background-color: #fff;
  padding: 0 40px 40px;
  border-radius: 3px;
  box-shadow: none;
  width: 320px;
  box-sizing: content-box;
  flex-shrink: 0;
}

.already-have-account {
  gap: 4px;
  display: flex;
  margin: 24px 0 0;
  justify-content: center;
}

.already-have-account .login-text {
  color: #10a37f;
  cursor: pointer;
}

.divider {
  gap: 13px;
  display: flex;
  padding: 24px 0 0;
  align-items: center;
  justify-content: center;
}

.divider-line {
  width: 100%;
  display: block;
  border-top: 1px solid #c2c8d0;
}

.divider-text {
  text-transform: uppercase;
}

.sign-in-social span {
  font-size: 13px;
  font-weight: 400;
}

.sign-in-social button {
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
}

.sign-in-social img {
  width: 20px;
  height: 20px;
}

.sidebar {
  width: 244px;
  background-color: #171717;
}

.chat-content {
  height: 100vh;
  display: flex;
}

.content {
  width: 100%;
  height: 100vh;
  background-color: #212121;
}

.sidebar {
  padding-top: 0.875rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.875rem;
}

.sidebar-item {
  gap: 0.5rem;
  color: #fff;
  display: flex;
  height: 2.5rem;
  cursor: pointer;
  align-items: center;
  align-items: center;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-between;
}

.output {
  height: calc(100% - 80px);
}

.input-customized {
  width: 100%;
}

.chat-input {
  height: 52px;
  overflow-y: hidden;
  width: 100%;
  max-width: 48rem;
  margin: auto;
  color: #fff;
  background-color: transparent;
  border-color: hsla(0, 0%, 100%, 0.15);
  border-radius: 1rem;
  border-width: 1px;
  padding-right: 3rem;
  padding-left: 1.5rem;
  padding-bottom: 0.875rem;
  padding-top: 0.875rem;
  box-sizing: border-box;
  font-size: 1rem;
}

div.input-wrapper {
  margin: auto;
  max-width: 48rem;
  position: relative;
}

.chat-input:focus {
  outline: none;
  border-color: hwb(0 100% 0% / 0.15);
}

.arrow-send {
  top: 12px;
  height: 24px;
  width: 24px;
  right: 0.75rem;
  padding: 0.125rem;
  border-width: 1px;
  position: absolute;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
}

.arrow-send.disabled {
  opacity: 0.5;
  cursor: default;
  background-color: #383838;
}

.sidebar-item:hover {
  background-color: #212121;
}
